<!--Directives-->
<!-- <h2>Hello World: ngIf!</h2>

<button type="button" (click)="onEditClick()">Make text editable!</button>

<div *ngIf="canEdit; else noEdit">
    <p>You can edit the following paragraph.</p>
</div>

<ng-template #noEdit>
    <p>The following paragraph is read only. Try clicking the button!</p>
</ng-template>

<p [contentEditable]="canEdit">{{ message }}</p> -->
<!--property binding,event binding,interpolation-->
<!-- <button
  type="button"
  [disabled]="canClick"
  (click)="sayMessage()">
  Trigger alert message
</button>
<p
  [id]="sayHelloId"
  [style.color]="fontColor">
  You can set my color in the component!
</p>
<p>My id is {{ sayHelloId }}</p>
<p>My color is {{fontColor}}</p> -->
<div [ngStyle]="{'color':'green'}">
<h2>Hello World: Dependency Injection</h2>

<button type="button" (click)="onLogMe()">Log me!</button>

<p>Be sure to open the console to view the output!</p>
</div>
<!-- <p>{{count}}</p>-->

<!-- <div *ngFor="let product of product">
  <a [title]="product.name + ' details'">
    <h3>{{ product.name }}</h3>
  </a>
  <p *ngIf="product.description">
  Description : {{product.description}}
  </p> -->